.UsersLikes
  .Wrapper
    = render partial: "posts/header"
    .Main
      = render partial: "profile"
      .Contents
        %p.HeadLine
          わかった！をした世界遺産一覧
        %p.HeadLine.Link
          = link_to "back", user_path(current_user.id)
          
        .Grid
          - current_user.like_posts.each do |post|
            = render partial: "posts/post", locals: { post: post }

    = render partial: "posts/footer"