.UsersShow
  .Wrapper
    = render partial: "posts/header"
    .Main
      .Profile
        .Picture
          .Picture__backGround
          .Picture__user
        .Introduction
          .Content
            .Top
              .Name
                = "nickname: #{current_user.nickname}"
              .NumberOfPosts
                投稿数: 8
              .Edit
                = link_to edit_user_registration_path do
                  編集する
            .Bottom
              .Text
                ヤスはキリンジの片割れです。兄弟でやってた時のほうが好きでした。微妙に上ずった声と、非常に難解なコード進行が音楽通のリスナーたちの心を躍らせる日本ポップス界の宝。個人的に好きな曲はアルカディアです。
      .Contents
        %p.HeadLine
          あなたが投稿した世界遺産一覧（説明文が長い場合はスクロールすると見れます）
        .Content.Grid
          - @posts.each do |post|
            .Content
              = link_to post_path(post.id) do
                .Content__bottom
                  .Name
                    = post.name
                .Country
                  = "国名: #{post.country}"
                .Latitude
                  = "緯度: #{post.latitude}"
                .Longitude
                  = "経度: #{post.longitude}"
                .Description
                  = post.description


    = render partial: "posts/footer"