.UsersShow
  .Wrapper
    = render partial: "posts/header"
    .Main
      = render partial: "profile"
      .Contents
        %p.HeadLine
          あなたが投稿した世界遺産一覧（説明文が長い場合はスクロールすると見れます）
        %p.HeadLine.Link
          = link_to "わかった！をした世界遺産一覧はこちら", likes_users_path
          
        .Grid
          - @posts.each do |post|
            = render partial: "posts/post", locals: { post: post }


    = render partial: "posts/footer"