.UsersShow
  .Wrapper
    = render partial: "posts/header"
    .Main
      .Profile
        .Picture
          .Picture__backGround
          .Picture__user
            = image_tag current_user.image.url , alt: 'プロフィール画像', height: '240', width: '240' if current_user.image?
        .Introduction
          .Content
            .Top
              .Name
                = "nickname: #{current_user.nickname}"
              .NumberOfPosts
                = "投稿数: #{current_user.post_ids.count}" # 投稿数の取得
              .Edit
                = link_to edit_user_registration_path do
                  編集する
            .Bottom
              .Text
                = current_user.text
      .Contents
        %p.HeadLine
          あなたが投稿した世界遺産一覧（説明文が長い場合はスクロールすると見れます）
        .Content.Grid
          - @posts.each do |post|
            .Content
              = link_to post_path(post.id) do
                .Content__bottom
                  .Name
                    = post.name
                .Country
                  = "国名: #{post.country}"
                .Latitude
                  = "緯度: #{post.latitude}"
                .Longitude
                  = "経度: #{post.longitude}"
                .Description
                  = post.description


    = render partial: "posts/footer"