.Header
  %ul.MainNav
    %li
      = link_to posts_path do
        世界遺産・建造物一覧
    %li
      = link_to new_post_path do
        新規投稿する
    %li
      = link_to "#" do
        ユーザー登録
    %li
      = link_to "#" do
        ログイン
    %li
      = link_to "#" do
        マイページ
    %li
      = link_to "#" do
        ログアウト
        
