.PostsAbout
  .Wrapper
    = render partial: "header"
    .Main
      %h2
        操作説明
      %p
        各画面の操作方法を説明します。
      %p
        各カードをクリックするとタイトルの画面に移動します。
      -# = render partial: "search_form"

      -# .Map
      -#   = image_tag 'google_map.png', alt: '仮の画像なので後で本物のマップになります', height: '100%', width: '100%', class: ''
      .Contents
        -# %p.HeadLine
        -#   検索結果一覧（カードをクリックすると詳細が表示されます）
        .Grid
          -# eachメソッドで投稿を一覧表示
          -# - @search_posts.each do |post|
          .Content
            = link_to posts_path do
              %h3
                ■世界遺産・建造物一覧■
              %ul
                %li
                  「世界地図」…地図上の赤いピンをクリックするとピンが中心に移動します。表示される説明文が不要の場合はバツマークで消してください。右下の+と-のマークで拡大・縮小。人のマークを道路上などにドラッグするとストリートビューが見れます。
                %li
                  「検索機能」…Searchと書いてある場所の横に「キーワードから探す」と書いてある枠があります。ここにキーワードを入力して右横のボタンをクリックすると、検索結果画面に切り替わります。何も入力せずにボタンをクリックすると、登録済みの投稿が全て表示されます。
                %li
                  「カード」…投稿が登録の新しい順に表示されます。カードをクリックすると、投稿の詳細画面に移動します。
          .Content
            = link_to new_user_registration_path do
              %h3
                ■ユーザー登録■
              %ul
                %li
                  「nickname」…お好きなニックネームを入力してください。同じニックネームが存在する場合は登録できません。
                %li
                  「Eメール」…ご自身のメールアドレスを入力してください。このアプリを通じてメールが送られてくることはありませんが、ログイン時に使用します。同じメールアドレスが存在する場合は登録できません。
                %li
                  「パスワード」…お好きな6文字以上のパスワードを半角英数字で入力してください。確認のために再入力をお願いしています。
                %li
                  「Sign up」…各項目を入力後、クリックするとユーザー登録完了です。
          .Content
            = link_to new_user_session_path do
              %h3
                ■ログイン■
              %ul
                %li
                  「Eメール」…ユーザー登録時に入力したメールアドレスを入力してください。
                %li
                  「パスワード」…ユーザー登録時に入力したパスワードを入力してください。
                %li
                  「Log in」…各項目を入力後、クリックするとログインできます。
          .Content
            = link_to new_post_path do
              %h3
                ■新規投稿■
              %ul
                %li
                  「名称」…世界遺産・建造物・場所など、好きなキーワードを入力してみてください。入力のコツとしては、Wikipediaで検索してヒットした名称を母国語で入力するとヒットしやすいです。同じ名称が存在する場合は登録できません。
                %li
                  「国名」…選択してください。
                %li
                  「説明文」…255文字以内で入力してください。引用した場合は、引用元を明記してください。
                %li
                  「Send」…各項目を入力後、クリックすると投稿できます。
          .Content
            - if user_signed_in?
              = link_to user_path(current_user.id) do
                %h3
                  ■マイページ■
                %ul
                  %li
                    「編集する」…ユーザー情報の編集をするボタンです。プロフィール画像や背景画像もここで登録できます。
                  %li
                    「あなたが投稿した世界遺産一覧」…画面の下に。
                  %li
                    「わかった！をした世界遺産はこちら」…クリックすると、自分が「わかった！」をした投稿が一覧で表示されます。
                  %li
                    「説明文」…255文字以内で入力してください。引用した場合は、引用元を明記してください。
                  %li
                    「Send」…各項目を入力後、クリックすると投稿できます。
            - else
              = link_to new_user_session_path do
                %h3
                  ■マイページ■
                %ul
                  %li
                    「編集する」…ユーザー情報の編集をするボタンです。プロフィール画像や背景画像もここで登録できます。
                  %li
                    「あなたが投稿した世界遺産一覧」…画面の下に。
                  %li
                    「わかった！をした世界遺産はこちら」…クリックすると、自分が「わかった！」をした投稿が一覧で表示されます。
                  %li
                    「説明文」…255文字以内で入力してください。引用した場合は、引用元を明記してください。
                  %li
                    「Send」…各項目を入力後、クリックすると投稿できます。
          .Content
            = link_to edit_user_registration_path do
              %h3
                ■Edit（ユーザー情報編集画面）■
              %ul
                %li
                  「Nickname」…ニックネームを変更したい場合は入力してください。同じニックネームが存在する場合は登録できません。
                %li
                  「About me」…自己紹介です。255文字以内で入力してください。
                %li
                  「Your picture」…プロフィール画像を登録できます。登録済みの画像がある場合はサムネイルが表示されます。
                %li
                  「Header picture」…ヘッダー画像を登録できます。登録済みの画像がある場合はサムネイルが表示されます。
                %li
                  「Eメール」…メールアドレスを変更する場合は入力してください。同じメールアドレスが存在する場合は登録できません。
                %li
                  「パスワード」…パスワードを変更する場合はお好きな6文字以上のパスワードを半角英数字で入力してください。確認のために再入力をお願いしています。
                %li
                  「現在のパスワード」…ユーザー情報を更新する場合、必ず現在のパスワードを半角英数字で入力してください。
                %li
                  「更新する」…各項目を入力後、クリックするとユーザー情報編集完了です。
                %li
                  「アカウントを削除する」…操作中のユーザーを削除します。一度削除すると復元できないので注意してください。
    = render partial: "footer"