.PostsIndex
  .Wrapper
    = render partial: "header"
    .Main
      %h2
        世界遺産・建造物一覧
      %p
        地図上のピンをクリックすると中心に移動します。
      %p
        右下の＋ボタンでズームアップして地球押しの練習をしましょう。
      .Search
        = form_with(url: search_posts_path, local: true, method: :get, class: "SearchForm") do |f|
          .SearchBox
            = f.label "SEARCH", class: "Label"
            = f.text_field :key, placeholder: "キーワードから探す", class: "search", id: "searchInput"
          .SearchButton
            %input(type="submit" value="push" class="button")/

      .Map
        #map{:style => "width: 100%; height: 100vh;"}
      :javascript
        handler = Gmaps.build('Google');
        handler.buildMap({ 
          provider: {mapTypeId: 'hybrid'},
          internal: {id: 'map'}
          }, 
          function(){
          markers = handler.addMarkers(#{raw @hash.to_json})
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          // handler.getMap().setCenter(new google.maps.LatLng(35.681298, 139.7640582));
          handler.getMap().setZoom(3);
        });

      .Contents
        %p.HeadLine
          世界遺産・建造物一覧（アンダーラインにカーソルを合わせると名称が表示されます）
        %p
          それぞれのカードをクリックすると詳細が表示されます
        .Grid
          -# eachメソッドで投稿を一覧表示
          - @posts.each do |post|
            .Content
              = link_to post_path(post.id) do
                .Country
                  = "国名: #{post.country.country}"
                .Latitude
                  = "緯度: #{post.latitude}"
                .Longitude
                  = "経度: #{post.latitude}"
                .Description
                  = post.description
                .Content__bottom
                  .Name
                    = post.name

    = render partial: "footer"